<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gagan Yaan</title>
  <link rel="stylesheet" href="/assets/login.css">
</head>

<body>
  <video autoplay muted loop>
    <source src="/assets/flight.mp4" type="video/mp4">
  </video>

  <div class="container">
    <!-- Left Section -->
    <div class="left-section">
      <h1>LOGIN</h1>
      <div class="social-icons">
        <button><i>G+</i></button>
        <button><i>f</i></button>
        <button><i>Git</i></button>
        <button><i>in</i></button>
      </div>
      <p>or use your email and password</p>
      <form id="signin-form action=" /login" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>

        <div class="form-row">
          <div class="form-group col-md-6">
            <div id="captcha-display" class="captcha-box" readonly><%= captcha %></div>
          </div>
          <div class="form-group col-md-6">
            <input type="text" id="captcha" name="captcha" placeholder="Enter Captcha" required />
          </div>
        </div>        
        
        <% if (message) { %>
          <div class="error-message">
            <%= message %>
          </div>
          <% } %>
            <br>
            <button onclick="validcap()" type="submit">Login</button>
            <br>
            <div class="form-footer">
              <a href="/forget-password">Forgot Password?</a>
            </div>
      </form>
    </div>

    <!-- Right Section -->
    <div class="right-section">
      <h1>"Gagan Yaan"</h1>
      <p><em>get fair fare for your journey</em></p>
      <h5>New Here?</h5>
      <button> <a href="/signup">Sign Up</a></button>
    </div>
  </div>

  <script src="/assets/script.js">
  </script>
</body>

</html>